<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <div class="h1">
        <h1>Welcome To Gemini<img src="gemini.png"height=30px width="40px" > Ai </h1>
    </div>
    
    <div class="form">
        <form action="/form.php">
            <input type="text" placeholder="username">
            <br><br>
            <input type="password" placeholder="password">
            <br><br>
            <!-- <input type="password" placeholder="Re-type Password">
            <br><br> -->
            <a href="index.html" target="_main"><button>Submit</button></a>
        </form>
    </div>
</body>
</html>