<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI World</title>
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    
    <header>
        <div id="navbar">
            <img src="">
            <a href="logo"><img src="gemini.png" height="40px" width="40px"></a> 
            <a href="3">Account</a>
            <a HREF="@"><pre>My Cart</pre></a>
            <a HREF="1"><pre>Contact Us</pre></a>
            <a href="12">Login</a>
            <a href="12"><pre>Sign Up</pre></a>
           
            
</div>
    </header>
    <main>
<div id="content">
    <!-- <div class="contentbox" >
        Buy your Favourite Soap
    </div> -->
    <div class="contentbox" >
       
    </div>
    <div class="contentbox" >
   
    </div>
    <div class="contentbox" >
   
    </div>
    <div class="contentbox" >
   
    </div>
</div>
</main>
    <footer>
        Made with hearts &hearts;
        &#169; 1996-2023, Amazon.com, Inc. or its affiliates
    </footer>
</body>
</html>